<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>100</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/100.png</string>
		<key>txt</key>
		<string>晴</string>
		<key>txt_en</key>
		<string>Sunny/Clear</string>
	</dict>
	<dict>
		<key>code</key>
		<string>101</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/101.png</string>
		<key>txt</key>
		<string>多云</string>
		<key>txt_en</key>
		<string>Cloudy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>102</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/102.png</string>
		<key>txt</key>
		<string>少云</string>
		<key>txt_en</key>
		<string>Few Clouds</string>
	</dict>
	<dict>
		<key>code</key>
		<string>103</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/103.png</string>
		<key>txt</key>
		<string>晴间多云</string>
		<key>txt_en</key>
		<string>Partly Cloudy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>104</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/104.png</string>
		<key>txt</key>
		<string>阴</string>
		<key>txt_en</key>
		<string>Overcast</string>
	</dict>
	<dict>
		<key>code</key>
		<string>200</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/200.png</string>
		<key>txt</key>
		<string>有风</string>
		<key>txt_en</key>
		<string>Windy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>201</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/201.png</string>
		<key>txt</key>
		<string>平静</string>
		<key>txt_en</key>
		<string>Calm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>202</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/202.png</string>
		<key>txt</key>
		<string>微风</string>
		<key>txt_en</key>
		<string>Light Breeze</string>
	</dict>
	<dict>
		<key>code</key>
		<string>203</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/203.png</string>
		<key>txt</key>
		<string>和风</string>
		<key>txt_en</key>
		<string>Moderate/Gentle Breeze</string>
	</dict>
	<dict>
		<key>code</key>
		<string>204</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/204.png</string>
		<key>txt</key>
		<string>清风</string>
		<key>txt_en</key>
		<string>Fresh Breeze</string>
	</dict>
	<dict>
		<key>code</key>
		<string>205</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/205.png</string>
		<key>txt</key>
		<string>强风/劲风</string>
		<key>txt_en</key>
		<string>Strong Breeze</string>
	</dict>
	<dict>
		<key>code</key>
		<string>206</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/206.png</string>
		<key>txt</key>
		<string>疾风</string>
		<key>txt_en</key>
		<string>High Wind, Near Gale</string>
	</dict>
	<dict>
		<key>code</key>
		<string>207</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/207.png</string>
		<key>txt</key>
		<string>大风</string>
		<key>txt_en</key>
		<string>Gale</string>
	</dict>
	<dict>
		<key>code</key>
		<string>208</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/208.png</string>
		<key>txt</key>
		<string>烈风</string>
		<key>txt_en</key>
		<string>Strong Gale</string>
	</dict>
	<dict>
		<key>code</key>
		<string>209</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/209.png</string>
		<key>txt</key>
		<string>风暴</string>
		<key>txt_en</key>
		<string>Storm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>210</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/210.png</string>
		<key>txt</key>
		<string>狂爆风</string>
		<key>txt_en</key>
		<string>Violent Storm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>211</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/211.png</string>
		<key>txt</key>
		<string>飓风</string>
		<key>txt_en</key>
		<string>Hurricane</string>
	</dict>
	<dict>
		<key>code</key>
		<string>212</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/212.png</string>
		<key>txt</key>
		<string>龙卷风</string>
		<key>txt_en</key>
		<string>Tornado</string>
	</dict>
	<dict>
		<key>code</key>
		<string>213</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/213.png</string>
		<key>txt</key>
		<string>热带风暴</string>
		<key>txt_en</key>
		<string>Tropical Storm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>300</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/300.png</string>
		<key>txt</key>
		<string>阵雨</string>
		<key>txt_en</key>
		<string>Shower Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>301</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/301.png</string>
		<key>txt</key>
		<string>强阵雨</string>
		<key>txt_en</key>
		<string>Heavy Shower Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>302</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/302.png</string>
		<key>txt</key>
		<string>雷阵雨</string>
		<key>txt_en</key>
		<string>Thundershower</string>
	</dict>
	<dict>
		<key>code</key>
		<string>303</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/303.png</string>
		<key>txt</key>
		<string>强雷阵雨</string>
		<key>txt_en</key>
		<string>Heavy Thunderstorm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>304</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/304.png</string>
		<key>txt</key>
		<string>雷阵雨伴有冰雹</string>
		<key>txt_en</key>
		<string>Hail</string>
	</dict>
	<dict>
		<key>code</key>
		<string>305</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/305.png</string>
		<key>txt</key>
		<string>小雨</string>
		<key>txt_en</key>
		<string>Light Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>306</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/306.png</string>
		<key>txt</key>
		<string>中雨</string>
		<key>txt_en</key>
		<string>Moderate Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>307</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/307.png</string>
		<key>txt</key>
		<string>大雨</string>
		<key>txt_en</key>
		<string>Heavy Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>308</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/308.png</string>
		<key>txt</key>
		<string>极端降雨</string>
		<key>txt_en</key>
		<string>Extreme Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>309</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/309.png</string>
		<key>txt</key>
		<string>毛毛雨/细雨</string>
		<key>txt_en</key>
		<string>Drizzle Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>310</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/310.png</string>
		<key>txt</key>
		<string>暴雨</string>
		<key>txt_en</key>
		<string>Storm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>311</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/311.png</string>
		<key>txt</key>
		<string>大暴雨</string>
		<key>txt_en</key>
		<string>Heavy Storm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>312</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/312.png</string>
		<key>txt</key>
		<string>特大暴雨</string>
		<key>txt_en</key>
		<string>Severe Storm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>313</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/313.png</string>
		<key>txt</key>
		<string>冻雨</string>
		<key>txt_en</key>
		<string>Freezing Rain</string>
	</dict>
	<dict>
		<key>code</key>
		<string>400</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/400.png</string>
		<key>txt</key>
		<string>小雪</string>
		<key>txt_en</key>
		<string>Light Snow</string>
	</dict>
	<dict>
		<key>code</key>
		<string>401</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/401.png</string>
		<key>txt</key>
		<string>中雪</string>
		<key>txt_en</key>
		<string>Moderate Snow</string>
	</dict>
	<dict>
		<key>code</key>
		<string>402</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/402.png</string>
		<key>txt</key>
		<string>大雪</string>
		<key>txt_en</key>
		<string>Heavy Snow</string>
	</dict>
	<dict>
		<key>code</key>
		<string>403</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/403.png</string>
		<key>txt</key>
		<string>暴雪</string>
		<key>txt_en</key>
		<string>Snowstorm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>404</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/404.png</string>
		<key>txt</key>
		<string>雨夹雪</string>
		<key>txt_en</key>
		<string>Sleet</string>
	</dict>
	<dict>
		<key>code</key>
		<string>405</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/405.png</string>
		<key>txt</key>
		<string>雨雪天气</string>
		<key>txt_en</key>
		<string>Rain And Snow</string>
	</dict>
	<dict>
		<key>code</key>
		<string>406</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/406.png</string>
		<key>txt</key>
		<string>阵雨夹雪</string>
		<key>txt_en</key>
		<string>Shower Snow</string>
	</dict>
	<dict>
		<key>code</key>
		<string>407</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/407.png</string>
		<key>txt</key>
		<string>阵雪</string>
		<key>txt_en</key>
		<string>Snow Flurry</string>
	</dict>
	<dict>
		<key>code</key>
		<string>500</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/500.png</string>
		<key>txt</key>
		<string>薄雾</string>
		<key>txt_en</key>
		<string>Mist</string>
	</dict>
	<dict>
		<key>code</key>
		<string>501</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/501.png</string>
		<key>txt</key>
		<string>雾</string>
		<key>txt_en</key>
		<string>Foggy</string>
	</dict>
	<dict>
		<key>code</key>
		<string>502</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/502.png</string>
		<key>txt</key>
		<string>霾</string>
		<key>txt_en</key>
		<string>Haze</string>
	</dict>
	<dict>
		<key>code</key>
		<string>503</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/503.png</string>
		<key>txt</key>
		<string>扬沙</string>
		<key>txt_en</key>
		<string>Sand</string>
	</dict>
	<dict>
		<key>code</key>
		<string>504</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/504.png</string>
		<key>txt</key>
		<string>浮尘</string>
		<key>txt_en</key>
		<string>Dust</string>
	</dict>
	<dict>
		<key>code</key>
		<string>506</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/506.png</string>
		<key>txt</key>
		<string>火山灰</string>
		<key>txt_en</key>
		<string>Volcanic Ash</string>
	</dict>
	<dict>
		<key>code</key>
		<string>507</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/507.png</string>
		<key>txt</key>
		<string>沙尘暴</string>
		<key>txt_en</key>
		<string>Duststorm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>508</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/508.png</string>
		<key>txt</key>
		<string>强沙尘暴</string>
		<key>txt_en</key>
		<string>Sandstorm</string>
	</dict>
	<dict>
		<key>code</key>
		<string>900</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/900.png</string>
		<key>txt</key>
		<string>热</string>
		<key>txt_en</key>
		<string>Hot</string>
	</dict>
	<dict>
		<key>code</key>
		<string>901</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/901.png</string>
		<key>txt</key>
		<string>冷</string>
		<key>txt_en</key>
		<string>Cold</string>
	</dict>
	<dict>
		<key>code</key>
		<string>999</string>
		<key>icon</key>
		<string>http://files.heweather.com/cond_icon/999.png</string>
		<key>txt</key>
		<string>未知</string>
		<key>txt_en</key>
		<string>Unknown</string>
	</dict>
</array>
</plist>
